.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chessPiece {
  width: 75px;
  position: relative;
}

.newGame {
  width: 200px;
  height: 100px;
  font-size: 25px;
  background-color: rgb(5, 114, 5);
  border-radius: 5px;
  border: black 2px solid;
  margin: 10px 100px 0 100px;
}

.help {
  width: 200px;
  height: 100px;
  font-size: 25px;
  background-color: rgb(91, 200, 236);
  border-radius: 5px;
  border: black 2px solid;
  margin: 10px 100px 0 100px;
}

.arrowKeys {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . NW NE . ."
    ". . NW NE . ."
    "WN WN . . EN EN"
    "WS WS . . ES ES"
    ". . SW SE . ."
    ". . SW SE . .";
    position: absolute;
    right: 25px
}

#NW { 
  grid-area: NW; 
}

#NE { 
  grid-area: NE; 
}

#EN { 
  grid-area: EN; 
}

#ES { 
  grid-area: ES; 
}

#SE { 
  grid-area: SE; 
}

#SW { 
  grid-area: SW; 
}

#WS { 
  grid-area: WS; 
}

#WN { 
  grid-area: WN; 
}
